fuel/app/config/development/migrations.php
fuel/app/config/production/migrations.php
fuel/app/cache
fuel/app/tmp
public/uploads/*/*
*~
*.bak
Thumbs.db
desktop.ini
.DS_Store
.buildpath
.project
.settings
fuel/app/logs/*/*/*
fuel/app/cache/*/*
nbproject/
.idea
*.tmproj
*.sublime-project
*.sublime-workspace
*.espressostorage
*.cache
public/uploads/*